h1 {
  color: cornflowerblue;
  font-family: monospace;
  font-size: 80px;
  background-color: aquamarine;
  padding: auto;
}

h3 {
  font-style: italic;
  background-color: black;
  color: darkgoldenrod;
  font-size: larger;
}

footer {
  font-family: fantasy;
  font-size: 40px;
  color: sandybrown;
}
